<h1>Salut {{ user.prenom }}! Confirme ton email</h1>

<p>
    "Bienvenue chez RestoN, veuillez cliquer sur le lien ci-dessous pour valider votre compte : " <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


